.menu-tiles {
    margin-top: 25px;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.30);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.30);
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.menu-title {
    color: #0D1282;
    font-size: 15px;
    font-weight: 700;
}

.menu-tiles:hover {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.30);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.30);
    -webkit-transition: box-shadow .1s ease-in;
}

.dashboard-row {
    width: 98vw;
    padding-bottom: 70px !important;
    padding: 0 100px;
}

.dashboard-col {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}